:root {
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.section__heading {
  width: 696px;
  margin: auto auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
  display: block;
  padding: 14px 16px;
  margin-top: 20px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  background-color: transparent;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: #212121;
}
